# Initialize Json package for Node.js
npm init -y 

# Install the packages [Express] for server [bcrypt] for cryptograph (Hashing passwords)
npm i express bcrypt

# install [nodemon] to automatically refresh the system
npm i --save-dev nodemon 

# Install the monogo db driver 
npm install mongodb

# Install the .env package for storing the database string 
npm install dotenv

# Clear node cashe [In system crashes only]
npm cache clean --force

# Install Cross-Origin Resource Sharing (CORS) package
npm install cors

# All in one command
npm install cors express bcrypt dotenv nodemon mongodb